/*重置样式*/

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    /* 字体顺滑 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
input,
button,
textarea,
header,
img,
i {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea {
    border: none;
    outline: none;
}